<div class="sidebar" [class.collapsed]="isSidebarCollapsed">
  <div class="sidebar-header">
    <button class="burger-btn" (click)="toggleSidebar()">
      <!-- TODO: Rectify the Collapsed view with better styling -->
      <span class="burger-icon">
          {{ isSidebarCollapsed ? '☰' : '✕' }}
      </span>
    </button>
    <span class="logo-text ml-4" *ngIf="!isSidebarCollapsed">HMS</span>
  </div>

  <nav class="nav-list">
    <div *ngFor="let item of navItems">
      
      <a *ngIf="!item.children" 
         [routerLink]="item.link" 
         class="nav-item" 
         routerLinkActive="active">
         <span class="icon" 
                [style.mask-image]="'url(' + item.icon + ')'"
                [style.-webkit-mask-image]="'url(' + item.icon + ')'">
          </span>
        <span class="label" *ngIf="!isSidebarCollapsed">{{ item.label }}</span>
      </a>

      <div *ngIf="item.children" class="dropdown-container">
        <div class="nav-item dropdown-header" (click)="toggleDropdown(item)">
          <span class="icon" 
                [style.mask-image]="'url(' + item.icon + ')'"
                [style.-webkit-mask-image]="'url(' + item.icon + ')'">
          </span>
          <span class="label" *ngIf="!isSidebarCollapsed">{{ item.label }}</span>
          <span class="arrow" *ngIf="!isSidebarCollapsed">
            {{ item.isExpanded ? '▼' : '▶' }}
          </span>
        </div>

        <div class="sub-nav" *ngIf="item.isExpanded && !isSidebarCollapsed">
          <a *ngFor="let child of item.children" 
             [routerLink]="child.link" 
             class="nav-item sub-item" 
             routerLinkActive="active">
            {{ child.label }}
          </a>
        </div>
      </div>

    </div>
  </nav>
</div>