<div class="section-header">
  <h2>Welcome Back, Patient</h2>
  <!-- <p>Here's an overview of the hospital today</p> -->
</div>

<div class="stat-grid">
  @for(cardDetail of cardDetails; track $index){
    <div class="stat-card {{cardDetail.cardColor}}" (click)="cardDetail.action()">
        <div class="svg-host" 
            [style.mask-image]="'url(' + cardDetail.icon + ')'"
            [style.webkit-mask-image]="'url(' + cardDetail.icon + ')'"
            [style.background-color]="cardDetail.cardColor"
            [style.width.px]=36
            [style.height.px]=36>
        </div>
        <div class="stat-info">
            <span class="text-[24px] font-extrabold text-[#1e293b] leading-none">{{ cardDetail.value }}</span>
            <span class="stat-label">{{cardDetail.label}}</span>
        </div>
    </div>
  }
  </div>
  <div class="dash-panel">
    <div class="panel-header">
      <h3>Recent Appointments</h3>
      <button class="view-all-btn">View All →</button>
    </div>
    <app-data-table [columns]="appointmentColumns" [data]="appointments()" [actions]="[]"
        [emptyStateMessage]="'No appointments found'"></app-data-table>
  </div>

  @if(showBookAppointmentModal){
    <app-modal-form
        [config]="bookAppointmentModalConfig"
        [fields]="appointmentModalFields"
        (submitted)="onSubmitAppointment($event)"
        (cancelled)="showBookAppointmentModal = false"
        (backdropClicked)="showBookAppointmentModal = false"
    >
    </app-modal-form>
  }

  @if(showEditProfileModal){
    <app-modal-form
        [config]="editProfileModalConfig"
        [fields]="profileModalFields"
        (submitted)="onUpdateProfile($event)"
        (cancelled)="showEditProfileModal = false"
        (backdropClicked)="showEditProfileModal = false"
    >
    </app-modal-form>
  }