<div class="section-header">
  <h2>Welcome Back, Admin</h2>
  <!-- <p>Here's an overview of the hospital today</p> -->
</div>

<div class="stat-grid">
  @for(cardDetail of cardDetails(); track $index){
    <app-dashboard-card [cardStats]=cardDetail></app-dashboard-card>
  }
</div>
<div class="dash-bottom">
  <div class="dash-panel">
    <div class="panel-header">
      <h3>Recent Appointments</h3>
      <button class="view-all-btn" routerLink="/admin/appointments">View All →</button>
    </div>

    <app-data-table [columns]="appointmentColumns" [data]="appointments().slice(0,4)" [actions]="appointmentActions"
      [emptyStateMessage]="'No appointments found'"></app-data-table>

  </div>

  <div class="dash-panel">
    <div class="panel-header">
      <h3>Doctor Overview</h3>
      <button class="view-all-btn" routerLink="/admin/doctors">View All →</button>
    </div>
    <div class="doctor-list">
      <div class="doctor-item" *ngFor="let doctor of doctors().slice(0,4)">
        <div class="doctor-avatar">{{ doctor.doctorName[0].toUpperCase() }}</div>
        <div class="doctor-meta">
          <span class="doctor-name">{{ doctor.doctorName }}</span>
          <span class="doctor-specialty">{{ doctor.specializationName }}</span>
        </div>
        <!-- <span class="status-badge" [class]="'status-' + doctor.status.toLowerCase()">{{ doctor.status }}</span> -->
      </div>
    </div>
  </div>
</div>