/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

:root {
  --brand-primary: #0097A7; /* Default Blue */
  --brand-surface: #ffffff;
}

[data-theme='dark'] {
  --brand-primary: #0097A7; /* Lighter Blue */
  --brand-surface: #1f2937;
}
